/*-------------------------*\
Content
\*-------------------------*/

#content {
    position: relative;
    display:inline-block;
    padding: var(--navbar-height);
    height: var( --content-height);
}

/*-------------------------*\
Loader
\*-------------------------*/

#loader {
    width: 200px;
    height: 200px;
    position: absolute;
    top: calc(var(--navbar-height) + 150px);
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    border-radius: 50%;
    display: none;
}
#loader:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(red, black 60%);
    animation: spin 2s infinite linear;
}
#loader:after {
    content: "";
    position: absolute;
    width: 98%;
    height: 98%;
    top: 1%;
    left: 1%;
    background-color: #000000;
    border-radius: 50%;
}
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}