/*-------------------------*\
Content
\*-------------------------*/

#content {
    position: relative;
    display:inline-block;
    padding: var(--navbar-height);
    height: var( --content-height);
}