/*-------------------------*\
Edit Modal
\*-------------------------*/

#edit-modal {
    display: none; /* Hidden by default */

    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    z-index: 1000; /* Sit on top */

    width: 100%; /* Full width */
    height: 100%; /* Full height */

    background-color: rgba(0, 0, 0, 0.75); /* Black w/ opacity */

    padding-top: 100px; /* Location of the box */
}
#edit-modal .content {
    position: relative;
    width: 800px;
    height: var(--edit-modal-height);
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.75), 0 6px 20px 0 rgba(0, 0, 0, 0.75);
    animation: modal-slide-down 0.5s ease;
}
#edit-modal .body {
    position: relative;

    width: 100%;
    height: var(--edit-modal-height);

    color: white;
    background: black;
}
#edit-modal .close-button {
    color: white;
    position: absolute;
    right: 0;

    margin: 20px;

    font-size: 35px;
    line-height: 27px;

    text-align: center;
    background-color: black;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    transition: .25s;
}
#edit-modal .close-button:hover {
    color: rgb(49, 49, 49);
    text-decoration: none;
    cursor: pointer;
}
#edit-modal .info {
    width: 100%;
    height: var(--edit-modal-height);
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: repeat(9, 1fr) 6fr;
    grid-gap: 15px;
    grid-auto-flow:column;
    padding: 10px;
}
#edit-modal .overview {
    overflow: auto;
}
#edit-modal .muted { color:rgb(87, 87, 87); }
#edit-modal img {
    width: 200px;
    height: 300px;
    object-fit: contain;
    grid-row: span 8;
}

/*-------------------------*\
Edit Modal - Buttons
\*-------------------------*/

#edit-modal .buttons {
    grid-row: span 1;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

/*-------------------------*\
Edit Modal - Delete Button
\*-------------------------*/

#delete-button { display: none; }
#delete-button + label {
    display: inline-block;
    color: white;

    text-align: center;
    font-size: 22px;
    line-height: 22px;
    padding-top: 6px;
    padding-left: 1px;

    background-color: black;
    border-radius: 50%;
    border: 1px solid white;
    width: 35px;
    height: 35px;
    transition: .25s;
    cursor: pointer;
}
#delete-button + label:hover {
    color: red;
    border: 1px solid red;
}
#delete-button:checked + label {
    color: white;
    background-color: red;
    border: 1px solid red;
}

/*-------------------------*\
Edit Modal - Watch Button
\*-------------------------*/

#watch-button { display: none; }
#watch-button + label {
    display: inline-block;
    color: white;

    text-align: center;
    font-size: 22px;
    line-height: 22px;
    padding-top: 4px;
    padding-left: 1px;

    background-color: black;
    border-radius: 50%;
    border: 1px solid white;
    width: 35px;
    height: 35px;
    transition: .25s;
    cursor: pointer;
}
#watch-button + label:hover {
    color: blue;
    border: 1px solid blue;
}
#watch-button:checked + label {
    color: white;
    background-color: blue;
    border: 1px solid blue;
}

/*-------------------------*\
Edit Modal - Stars
\*-------------------------*/

#edit-modal .stars {
    font-size: 30px;
    transition: 0.25s;

    grid-row: span 1;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: start;
}
#edit-modal .edit-star{
    display: inline-block;
    color: white;
    background: transparent;
}
#edit-modal .edit-star:hover {
    color: rgb(49, 49, 49);
    text-decoration: none;
    cursor: pointer;
    transition: 0.25s ease;
}
#edit-modal .gold-star {
    display: inline-block;
    color: gold;
    background: transparent;
}
