/*-------------------------*\
Navbar
\*-------------------------*/

#navbar {
    position: fixed;
    width: var(--container-width);
    height: var(--navbar-height);
    padding: 0 50px;
    z-index: 500;
    background: transparent;
    display: flex;
    justify-content: space-between;
}
#navbar .left-side { display: flex; }
#navbar .brand{
    color: white;
    text-decoration: none;
    margin-right: 40px;
    display: flex;
    align-items: center;
}
#navbar .title {
    height: 150px;
    padding-left: 10px;
    border-left: white solid 2px;
    font-size: 48px;
    display: flex;
    align-items: center;
}
#navbar ul {
    list-style: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
}
#navbar li a {
    color: white;
    background-color: transparent;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.25s;
}
#navbar li a:hover {
    color: rgba(199, 88, 88, 0.6);
}
#navbar .right-side {
    display: flex;
    align-items: center;
}
#navbar input[type=text]{
    height: 50px;
    width: 50px;
    border: grey;
    border-radius: 2px;
    background: white url('../movie-project-html/img/magnifying-glass.png') no-repeat 10px 10px;
    outline: none;
    padding-left: 50px;
    transition: width .75s ease-in-out;
}
#navbar input[type=text]:focus{ width: 500px; }