#banner {
    background-image: linear-gradient(black, rgba(255,255,255,0));
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: saddlebrown !important;
    border: none !important;
}

.white{
    color: white;
}

*{
    font-family: 'Lusitana', serif;
}

.card-img-size {
    width: auto;
    max-height: 350px;
}