#watch {
    position: absolute;
    top: var(--navbar-height);
    right: 0;
    bottom: 0;
    width: 100%;
    height: calc(100% - var(--navbar-height));
    overflow: hidden;
    transition:  var(--transition-timing) ease;
    opacity: 1;
}

/*-------------------------*\
Watchlist
\*-------------------------*/

#watch .title {
    color: white;
    font-size: 24px;
    width: 1200px;
    padding-bottom: 5px;
    margin: 0 auto 15px auto;
    border-bottom: red solid 2px;
}
#watchlist {
    width: 1064px;
    background-color: transparent;
    margin: 0 auto;
}
#watchlist .items {
    display: grid;
    grid-template-columns: repeat(5, 200px);
    grid-gap: 16px;
}
#watchlist .item {
    display: inline-block;
    width: 200px;
    height: 300px;
    height:  var(--poster-height);
    background-color: transparent;
}
#watchlist .item:hover {
    cursor: pointer;
}
#watchlist img{
    width: 100%;
    height: 100%;
}
